<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS_UICollectionView02_020112.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EE5E7171CCDC0C80026EE7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EE5E7301CCDC0C80026EE7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EE5E73B1CCDC0C80026EE7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
